#spinner {
    width: 36px;
    height: 36px;
    border: 5px solid rgba(0, 0, 0, 0.3);
    border-radius: 50%;
    border-left-color: #0c1b70;
    animation: spin 1s ease infinite;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    margin-top: 10px;
    display: none;
  }
